{% extends 'scrumtool/base.html' %}
{% block content %}

<div class="navbar-index">
  <div>
     <div class="navbar-index-item zoom">
       <a href="pb">Product Backlog</a>
     </div>
     <div class="navbar-index-item zoom">
       <a href="sb">Sprint Backlog</a>
     </div>
     <div class="navbar-index-item zoom">
       <a href="#">Statistic</a>
     </div>
   </div>
     <div class="navbar-item-help zoom">
       <a href="https://help.com"><img src="../static/question.png" alt="Error"></a>
     </div>
     <div class="navbar-item-gear zoom">
       <a href="https://gear.com"><img src="../static/gear.png" alt="Error"></a>
  </div>
</div>


<div class="greeting">
  <div class="greeting-header">
      <p>Welcome to your Scrum-Tool</p>
  </div>
  <div class="greeting-content">
      <p>some informations</p>
      <div class="snail">
        <img src="../static/snail.png" alt="Error">
      </div>
      <div class="snail-comment">
        <p>I will help you soon</p>
      </div>
  </div>
</div>

<!--

{% if backlog %}
<div class="list-group">
  {%for item in backlog %}
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.name }}</h5>
      <span class="badge badge-primary badge-pill">{{ item.id }}</span>
    </div>
    <p class="mb-1">{{ item.description }}</p>
    {% endfor %}
  </a>
  <hr>
{% endif %}

{% if sb %}
<div class="list-group">
  {%for item in sb %}
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.name }}</h5>
      <span class="badge badge-primary badge-pill">{{ item.productBacklog.name }}</span>
      <span class="badge badge-primary badge-pill">{{ item.id }}</span>
    </div>
    <p class="mb-1">{{ item.description }}</p>
    {% endfor %}
  </a>
  <hr>
  {% endif %}

  {% if sb %}
    <ul id="sortable">
    {%for item in sb %}
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.name }}</h5>
      <span class="badge badge-primary badge-pill label">{{ item.productBacklog.name }}</span>
      <span class="badge badge-primary badge-pill label">{{ item.id }}</span>
      </div>
    <p class="mb-1">{{ item.description }}</p>
    </li>
    {% endfor %}
      </a>
  <hr>
  {% endif %}

  {% if sb %}
    <ul id="sortable">
    {%for item in sb %}
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.name }}</h5>
      <span class="badge badge-primary badge-pill label">{{ item.productBacklog.name }}</span>
      <span class="badge badge-primary badge-pill label">{{ item.id }}</span>
      </div>
    <p class="mb-1">{{ item.description }}</p>
    </li>
    {% endfor %}
      </a>
  <hr>
  {% endif %}


{% if tasks %}
<div class="list-group">
  {%for item in tasks %}
  <a href=" " class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.name }}</h5>
      <span class="badge badge-primary badge-pill">{{ item.sprintBacklog.name }}</span>
      <span class="badge badge-primary badge-pill">{{ item.id }}</span>
    </div>
    <p class="mb-1">{{ item.description }}</p>
    {% endfor %}
  </a>
  <hr>
  {% endif %}

-->

{% endblock %}
