{% extends 'scrumtool/base.html' %}
{% block content %}

<div class="login-content">
    <div class="login-header">
      <h3>Login</h3>
    </div>
    <div class="login-forms">    
    {% if user.is_authenticated %}
      
      <form action="home" method="post">
      {% csrf_token %}
        <label for="team_name">Enter name: </label>
        <br>
        <input id="team_name" type="text" name="name_field" value="username">
        <br>
        <hr>
        <label for="team_password">Enter password: </label>
        <br>
        <input id="team_password" type="password" name="password_field" value="password">
        <br>
        <div class="login-button">
        <input type="submit" value="Login">
        </div>
      </form>
    </div>
</div>

{% else %}

foisch

{% endif %}

{% endblock %}
